# .gitignore

# Entorno virtual
venv/
ENV/
env/
.venv/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Archivos de configuración de VS Code
.vscode/

# Archivos de Pygame
*.db

# Archivos de sistema
Thumbs.db
.DS_Store

# Otros archivos o carpetas que no deseas subir
*.log
*.bak
*.tmp
